@import "mainStyles";

.sectionBox{
  background: $grayWhite;
  @include section();

  .container{
    @include adaptiveScreen();
    @include mainMarginContainer();

    .aboutBox{
      align-items: center!important;
      justify-content: center!important;
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var(--bs-gutter-y)*-1);
      margin-right: calc(var(--bs-gutter-x)*-0.5);
      margin-left: calc(var(--bs-gutter-x)*-0.5);

      .photo{
        @include row();

        @media (min-width: 768px) {
          flex: 0 0 auto;
          width: 50%;
        }

        @media (min-width: 992px) {
          flex: 0 0 auto;
          width: 33.33333333%;
        }

        .aboutMe{

          @media (max-width: 991px) {
            margin-bottom: 40px;
          }

          .img{
            position: relative;

            .imgIn{
              width: 356px;
              height: 420px;
              background: url("../img/dashaBio.jpg") 70px 0/auto 100% no-repeat;
              margin: auto;
              overflow: hidden;

              @media (max-width: 576px) {
                width: 300px;
                background: url("../img/dashaBio.jpg") center / cover no-repeat;
              }

              @media (min-width: 992px) {
                background: url("../img/dashaBio.jpg") 0 0/auto 100% no-repeat;
              }
            }
          }
        }
      }

      .biography{
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x)*0.5);
        padding-left: calc(var(--bs-gutter-x)*0.5);
        margin-top: var(--bs-gutter-y);
        margin-left: auto!important;

        @media (min-width: 992px) {
          flex: 0 0 auto;
          width: 58.33333333%;
        }

        .info{
          .infoName{
            color: $mainText;
            margin-bottom: 20px;
            p{
              color: $mainText;
              margin: 0;
              font-size: 18px;
              font-weight: 400;
            }
            h3{
              @include h3();
              font-weight: 600;

              &:after{
                @include afterBall();
              }
            }
          }

          .aboutText{
            p{
              b{
                font-size: 20px;
              }
              @include p();
            }
          }
        }
      }
    }

    .problemBox{
      @include row();
    }

    .title{
      margin-bottom: 35px;

      h3{
        @include h3();

        &:after{
          @include afterBall();
        }
      }
    }

    .blockWeBox{
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var(--bs-gutter-y)*-1);
      margin-right: calc(var(--bs-gutter-x)*-0.5);
      margin-left: calc(var(--bs-gutter-x)*-0.5);

      .blockWe{
        @include blockWe();

        .block{
          @include block();

          &:hover{
            -webkit-animation: slideTop .5s ease-in-out 0s 1 normal none running!important;
            animation: slideTop .5s ease-in-out 0s 1 normal none running!important;
            color:$white;
          }

          &:before{
            content: "";
            position: absolute;
            width: 200px;
            height: 200px;
            transition: .5s ease-in-out;
            top: -220px;
            left: -220px;
            border-radius: 0;
            z-index: -1;
            background: #0b0b13;
          }
          &:hover:before{
            content: "";
            width: 200px;
            left: -40px;
            top: -72px;
            height: 200px;
            border-radius: 50%;
          }

          .content{
            padding-top: 50px;

            h5{
              @include h5();
              font-weight: 600;
            }

            p{
              color:$secondaryText;
              margin: 0;
              transition: .5s ease-in-out;
            }
          }

          &:after{
            content: "";
            position: absolute;
            width: 200px;
            height: 200px;
            transition: .5s ease-in-out;
            top: -72px;
            left: -40px;
            border-radius: 50%;
            z-index: -2;
            background: $orange;
          }
          &:hover:after{
            content: "";
            width: 120%;
            left: -10%;
            top: -10%;
            height: 120%;
            border-radius: 0;
            transition: all .55s cubic-bezier(.39,.58,.57,1);
          }
        }
      }
    }
  }
}