@import 'mainStyles';

  .scroll_bar{
    height: 100%;

    .top{
      .logo_box{
        .logo{
          background: $orange;
          color: $white;
          font-weight: 600;
          text-decoration: none;
          font-size: 25px;
          height: 80px;
          width: 80px;
          line-height: 80px;
          display: flex;
          flex-direction: column;
          vertical-align: top;
          text-align: center;
          writing-mode: vertical-rl;
          text-orientation: upright;
        }
      }
    }

    .nav_menu{
      @include borderNavIcon();

      padding-top: 45px;
      padding-bottom: 45px;
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      .icon_box{
        width: 100%;

        .active > div{
          color:$orange;
        }

        .icon_link{
          @include displayFlex(row,center,center);

          color: $mainText;
          cursor: pointer;
          margin: 0;
          padding: 20px 0;
          text-decoration: none;
          transition: all .35s ease;
          text-align: center;
          font-size: 27px;

          &:hover{
            color: $orange;
          }
        }
      }
    }
  }


