@import 'mainStyles';

.problemContainer{

  .box{
    width: 100%;
    display: flex;

    .problem{
        width: 50%;
        margin-bottom: 15px;
        padding-right: 60px;

      h4{
        @include h4();
        margin-bottom: 10px;
      }

      span{
        @include p();
      }
    }
  }
}