@import "mainStyles";

.section{
  @include section();
  background-color: $grayWhite;

  .container{
    @include adaptiveScreen();
    @include mainMarginContainer();

    .teacherContainer{
      padding-top: 15px;

      .teacherRow{
        background: $white;
        padding: 35px;
        border-radius: 15px;

        .box{
          --bs-gutter-x: 1.5rem;
          --bs-gutter-y: 0;
          display: flex;
          flex-wrap: wrap;
          margin-top: calc(var(--bs-gutter-y)*-1);
          margin-right: calc(var(--bs-gutter-x)*-0.5);
          margin-left: calc(var(--bs-gutter-x)*-0.5);

          .avatarBox{
            flex-shrink: 0;
            width: 100%;
            max-width: 100%;
            padding-right: calc(var(--bs-gutter-x)*0.5);
            padding-left: calc(var(--bs-gutter-x)*0.5);
            margin-top: var(--bs-gutter-y);
            display: flex;
            justify-content: center;

            @media (min-width: 768px){
              flex: 0 0 auto;
              width: 33.33333333%;
            }

            @media (min-width: 1200px) {
              flex: 0 0 auto;
              width: 20%;
            }

            .avatarTeacher{
              width: 130px;
              height: 130px;
              border-radius: 50%;
              overflow: hidden;
              img{
                display: block;
                max-width: 100%;
                vertical-align: middle;
              }

              @media (max-width: 767px) {
                margin-bottom: 25px;
              }
              
              @media (min-width: 768px) {
                border-right: 1px solid rgba(11,11,19,.05);
              }
            }
          }

          .media{
            flex-shrink: 0;
            width: 100%;
            max-width: 100%;
            padding-right: calc(var(--bs-gutter-x)*0.5);
            padding-left: calc(var(--bs-gutter-x)*0.5);
            margin-top: var(--bs-gutter-y);

            @media (min-width: 768px){
              flex: 0 0 auto;
              width: 66.66666667%;
            }

            @media (min-width: 1200px) {
              flex: 0 0 auto;
              width: 80%;
            }

            .infoTeacher{
              h6{
                color: #0b0b13;
                font-weight: 600;
                font-size: 20px;
                margin-top: 0;
                margin-bottom: 0.5rem;
                line-height: 1.2;
                font-family: "Rubik",monospac;
              }
              p{
                color:$secondaryText;
                margin-bottom: 0;
                margin-top: 0;
              }
            }
          }
        }
      }
    }

    .title{
      margin-bottom: 35px;

      h3{
        @include h3();

        &:after{
          @include afterBall();
        }
      }
    }

    .reviewContainer{
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var(--bs-gutter-y) * -1);
      margin-right: calc(var(--bs-gutter-x) * -0.5);
      margin-left: calc(var(--bs-gutter-x) * -0.5);
      outline: none !important;

      .reviewBox{
        width: 100%;
        display: block;
        float: left;
        height: 100%;
        min-height: 1px;

        @media (min-width: 992px){
          flex:0 0 auto;
          width: 50%;
        }

        .box{
          background: $white;
          padding: 35px;
          border-radius: 10px;
          overflow: hidden;
          margin-top: 15px;
          margin-bottom: 25px;
          display: flex!important;
          align-items: flex-start;


          .avatar{
            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            img{
              display: block;
              max-width: 100%;
              vertical-align: middle;
            }
          }

          .mediaBody{
            padding-left: 25px;
            flex: 1 1;
            p{
              margin-top: 0;
              margin-bottom: 1rem;
            }
            h6{
              color: #0b0b13;
              font-size: 16px;
              margin: 0 0 5px;
              font-weight: 600;
              line-height: 1.2;
            }
          }
        }
      }
    }
  }
}